/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
  width: 100%;
  background-size: cover;
  //background: url(assets/verivoxBG.jpeg) no-repeat fixed center;
  background-color: dimgray;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

